<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= myObject.name %></h1>
    <h2><%= myObject.email %></h2>
    <h3><%= myObject.favoriteFood %></h3>

  </body>
</html>
