<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Users</h1>
    <% for(var i = 0; i<myObject.length; i++){ %>
      <h4>Name: <%= myObject[i].name %></h4>
      <p>Age: <%= myObject[i].age %></p>
      <br>
    <% } %>
  </body>
</html>
